<ng-container>
    <div class="navbar bg-base-100 shadow-sm">
        <div class="flex-1">
            <a class="ml-4 text-xl">Dashboard</a>
        </div>
        <div class="flex-none">
            <div class="dropdown dropdown-end">
                <label class="swap swap-rotate mr-4">
                    <input type="checkbox" class="theme-controller" value="dark" />
                    <img class="swap-off h-7 w-7 fill-current" height="30px" width="30px" src="../../../assets/images/sun.svg">
                    <img class="swap-on h-7 w-7" height="30px" width="30px" src="../../../assets/images/moon.svg">
                </label>
            </div>
        </div>
    </div>
</ng-container>