<ng-container>
    <dialog #employeeModal id="my_modal_3" class="modal">
        <div class="modal-box">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <p class="text-bold text-lg mb-3">{{ isEditMode ? 'Edit Details' : 'Add new Employee' }}</p>
            <form [formGroup]="form" (ngSubmit)="handleAddEmployee()" class="mx-5 my-3">
                <input formControlName="name" type="text" placeholder="Name" class="input my-2 w-full" />
                <div *ngIf="f.name.touched && f.name.invalid" class="error">
                    <small class="text-red-800" *ngIf="f.name.errors?.['required']">Name is required.</small>
                    <small class="text-red-800" *ngIf="f.name.errors?.['minlength']">Name must be at least 3 characters.</small>
                </div>
                <input formControlName="email" type="text" placeholder="Email" class="input my-2 w-full" />
                <div *ngIf="f.email.touched && f.email.invalid" class="error">
                    <small class="text-red-800" *ngIf="f.email.errors?.['required']">Email is required.</small>
                    <small class="text-red-800" *ngIf="f.email.errors?.['email']">Enter a valid email.</small>
                </div>
                <select formControlName="department" class="select my-2 w-full">
                    <option value="" disabled>Select Department</option>
                    <option>HR</option>
                    <option>Engineering</option>
                    <option>Sales</option>
                    <option>Marketing</option>
                </select>
                <div *ngIf="f.department.touched && f.department.invalid" class="error">
                    <small class="text-red-800" *ngIf="f.department.errors?.['required']">Department is required.</small>
                </div>
                <input formControlName="date" type="date" class="input mt-2 mb-5 w-full" />
                <div *ngIf="f.date.touched && f.date.invalid" class="error">
                    <small class="text-red-800" *ngIf="f.date.errors?.['required']">Date of joining is required.</small>
                    <small class="text-red-800" *ngIf="f.date.errors?.['futureDate']">Date cannot be in the future.</small>
                </div>
                <button type="submit" class="btn bg-[#5EBB2B] text-white border-[#4eaa0c] mr-3">
                    {{ isEditMode ? 'Save Changes' : 'Add' }}
                </button>
            </form>
        </div>
    </dialog>
</ng-container>