<ng-container>
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let col of columns">{{col.name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeLists">
                    <th>{{employee.id}}</th>
                    <td>{{employee.name}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.department}}</td>
                    <td>{{employee.dateOfJoining}}</td>
                    <td>
                        <button onclick="my_modal_3.showModal()" (click)="handleEditemployee(employee)" class="btn bg-[#0967C2] text-white border-[#0059b3] btn-xs mr-3">Edit</button>
                        <button onclick="my_modal_1.showModal()" (click)="openDeleteModal(employee.id)" class="btn btn-error text-white btn-xs">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-confirmation-modal
        *ngIf="selectedEmployeeId"
        (confirmDelete)="handleDelete()"
    ></app-confirmation-modal>
</ng-container>